@model IEnumerable<ElcomManage.Models.Activity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Activities</li>
</ol>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Activities</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var Activity in Model)
                    {
                        <tr>
                            <td>@Activity.Date</td>
                            <td>@Activity.Comment</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>